<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment</title>
    <%- include('../partials/cdn') %>
        <style>
            #ticket:before {
                content: "";
                background: #fff;
                width: 32px;
                height: 32px;
                position: absolute;
                top: -16px;
                left: -24px;
                border-radius: 100%;
            }

            #ticket:after {
                content: "";
                background: #fff;
                width: 32px;
                height: 32px;
                position: absolute;
                top: -16px;
                right: -24px;
                border-radius: 100%;
            }

            #ticket {
                border-top: 1px dashed #bdbdbd;
                position: relative;
            }
        </style>
</head>




<body class="vh-100" style="background-color: #eee; min-height: 100vh">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-8 col-xl-7">
                <div class="px-5 py-4 rounded-4 shadow bg-white my-4">
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="d-flex align-items-center" style="color: #401780;">
                            <div class="fs-1"><i class="fa-solid fa-building-columns"></i></div>
                            <h1 class="mb-0 ps-3">Payment System</h2>
                        </div>
                        <div id="countdown">
                            <span style="background-color: #401780;" class="badge p-2 fs-5">0</span>
                            <span style="background-color: #401780;" style="margin-left: 2px;"
                                class="badge p-2 fs-5">0</span>
                            <span class="fs-5">:</span>
                            <span style="background-color: #401780;" class="badge p-2 fs-5">0</span>
                            <span style="background-color: #401780;" style="margin-left: 2px;"
                                class="badge p-2 fs-5">0</span>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="mb-1"><span class="fw-bold">Account holder:</span>
                            <%= name %>
                        </div>
                        <div class="mb-1"><span class="fw-bold">Account number:</span>
                            <%= from_account %>
                        </div>
                        <div class="mb-1"><span class="fw-bold">Balance:</span> $<%= balance %>
                        </div>
                    </div>

                    <div class="row justify-content-center">
                        <div style="background-color: #f1f1f1;" class="col-9 mt-4 rounded-4">
                            <div class="p-4">
                                <div class="row justify-content-between">
                                    <div class="col-6"><span class="fw-semibold">Order:</span></div>
                                    <div class="col-6 text-end fw-light">
                                        <%= orderID %>
                                    </div>
                                </div>

                                <div class="row justify-content-between">
                                    <div class="col-6"><span class="fw-semibold">Beneficiary:</span></div>
                                    <div class="col-6 text-end fw-light">
                                        <%= clientName %>
                                    </div>
                                </div>

                                <div class="row justify-content-between">
                                    <div class="col-6"><span class="fw-semibold">Beneficiary account:</span></div>
                                    <div class="col-6 text-end fw-light">
                                        <%= to_account %>
                                    </div>
                                </div>

                                <div class="row justify-content-between">
                                    <div class="col-6"><span class="fw-semibold">Subtotal:</span></div>
                                    <div class="col-6 text-end fw-light">$<%= amount %>
                                    </div>
                                </div>

                                <div class="row justify-content-between">
                                    <div class="col-6"><span class="fw-semibold">Tax:</span></div>
                                    <div class="col-6 text-end fw-light">$0</div>
                                </div>
                            </div>
                            <div id="ticket">
                                <div class="d-flex p-4 align-items-center justify-content-between">
                                    <div><span class="fw-semibold">You Have To Pay:</span></div>
                                    <div class="fs-2 text-success"><strong>$<%= amount %></strong></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-between mt-5 my-1">
                            <div class="row flex-fill gx-3">
                                <div class="col-6">
                                    <button id="btn-cancel"
                                        class="w-100 btn btn-outline-danger py-1 fs-3 text-center text-uppercase">
                                        Cancel
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button id="btn-payment"
                                        class="w-100 btn btn-outline-success py-1 fs-3 text-center text-uppercase">
                                        Pay
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <form id="form-payment" action="" method="post" class="d-none">
        <input type="text" name="payment" id="" value="">
    </form> -->

    <script>
        function updateCountdown() {
            const countdownElement = document.getElementById('countdown');
            let remainingSeconds = Math.max(0, Math.round((targetTime - Date.now()) / 1000));
            const minutes = Math.floor(remainingSeconds / 60);
            const seconds = remainingSeconds % 60;

            countdownElement.children[0].textContent = parseInt(minutes / 10)
            countdownElement.children[1].textContent = minutes % 10;
            countdownElement.children[3].textContent = parseInt(seconds / 10)
            countdownElement.children[4].textContent = seconds % 10

            if (remainingSeconds === 0) {
                clearInterval(countdownInterval);
                $.ajax({
                    url: '/transactions/<%= transactionID %>/cancel',
                    method: 'put',
                    headers: {
                        authorization_code: `<%= authorization_code %>`,
                    },
                    success: function (data) {
                        window.location.href = `<%= callback_url %>`;
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error('something error')
                    },
                });
            }
        }

        const createdTime = new Date('<%= created_time %>')
        const targetTime = new Date(createdTime.getTime() + 1 * 60 * 1000);
        const countdownInterval = setInterval(updateCountdown, 1000);
        updateCountdown();


        $(() => {
            $('#btn-payment').click((e) => {
                $.ajax({
                    url: '/transactions/<%= transactionID %>/payment',
                    method: 'post',
                    headers: {
                        authorization_code: `<%= authorization_code %>`,
                    },
                    success: function (data) {
                        window.location.href = `/transactions/<%= transactionID %>/success?authorization_code=<%= authorization_code %>`;
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        try {
                            const errorResponse = JSON.parse(xhr.responseText);
                            const status = errorResponse.status
                            if (status === 400) {
                                window.location.href = `/transactions/<%= transactionID %>/failed?authorization_code=<%= authorization_code %>`;
                            }
                        } catch (parseError) {
                            console.error('Error parsing JSON response:', parseError);
                        }
                    },
                });
            })


            $('#btn-cancel').click((e) => {
                $.ajax({
                    url: '/transactions/<%= transactionID %>/cancel',
                    method: 'put',
                    headers: {
                        authorization_code: `<%= authorization_code %>`,
                    },
                    success: function (data) {
                        window.location.href = `<%= callback_url %>`;
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.error('something error')
                    },
                });
            })
        })
    </script>
</body>

</html>