<!DOCTYPE html>
<html lang="en" data-bs-theme="<%= darkMode ? 'dark' : 'light' %>">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin - Create User</title>

        <%- include('../partials/cdn') %>
    </head>
    <body>
        <main class="d-flex flex-nowrap h-100">
            <%- include('./partials/sidebar') %>

            <div id="content" class="w-100 h-100">
                <%- include('./partials/header') %>

                <div class="bg-body-secondary p-3">
                    <div class="container">
                        <!-- Change the content of page here -->
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <div class="card shadow">
                                    <div
                                        class="text-bg-primary card-header py-3 d-flex flex-row align-items-center justify-content-center"
                                    >
                                        <h2 class="m-0 text-nowrap">
                                            <i class="fa-solid fa-circle-plus"></i> CREATE NEW USER
                                        </h2>
                                    </div>
                                    <div class="card-body p-4" style="min-height: 450px">
                                        <div class="datatable-area">
                                            <form method="post" action="" class="row g-3">
                                                <div class="col-md-6 col-lg-4">
                                                    <label for="input-username" class="form-label"
                                                        >Username</label
                                                    >
                                                    <input
                                                        type="text"
                                                        required
                                                        class="form-control"
                                                        id="input-username"
                                                        name="username"
                                                    />
                                                    <span
                                                        id="notify-username"
                                                        class="text-danger"
                                                    ></span>
                                                </div>
                                                <div class="col-md-6 col-lg-4">
                                                    <label for="input-password" class="form-label"
                                                        >Password</label
                                                    >
                                                    <input
                                                        type="password"
                                                        required
                                                        class="form-control"
                                                        id="input-password"
                                                        name="password"
                                                    />
                                                    <span
                                                        id="notify-password"
                                                        class="text-danger"
                                                    ></span>
                                                </div>
                                                <div class="col-md-6 col-lg-4">
                                                    <label
                                                        for="input-repeat-password"
                                                        class="form-label"
                                                        >Confirm password</label
                                                    >
                                                    <input
                                                        type="password"
                                                        required
                                                        class="form-control"
                                                        id="input-repeat-password"
                                                        name="confirm-password"
                                                    />
                                                    <span
                                                        id="notify-repeat-password"
                                                        class="text-danger"
                                                    ></span>
                                                </div>
                                                <div class="col-md-6 col-lg-4">
                                                    <label for="input-fullname" class="form-label"
                                                        >Fullname</label
                                                    >
                                                    <input
                                                        type="text"
                                                        required
                                                        class="form-control"
                                                        id="input-fullname"
                                                        name="fullname"
                                                    />
                                                    <span
                                                        id="notify-fullname"
                                                        class="text-danger"
                                                    ></span>
                                                </div>

                                                <div class="col-md-6 col-lg-4">
                                                    <label for="input-email" class="form-label"
                                                        >Email</label
                                                    >
                                                    <input
                                                        type="email"
                                                        required
                                                        class="form-control"
                                                        id="input-email"
                                                        name="email"
                                                    />
                                                    <span
                                                        id="notify-email"
                                                        class="text-danger"
                                                    ></span>
                                                </div>

                                                <div class="col-md-6 col-lg-4">
                                                    <label for="role" class="form-label"
                                                        >Role</label
                                                    >
                                                    <select
                                                        name="role"
                                                        id="role"
                                                        class="form-select"
                                                    >
                                                        <option value="1" selected>Customer</option>
                                                        <option value="2">Admin</option>
                                                    </select>
                                                </div>

                                                <div class="col-12 text-end">
                                                    <button
                                                        type="submit"
                                                        class="btn btn-primary px-5 py-2 fw-semibold"
                                                    >
                                                        CREATE
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('../partials/footer') %>
            </div>
        </main>

        <script>
            $(() => {
                const usernameValidate = (username) => {
                    const USER_REGEX = /^[a-zA-Z][a-zA-Z0-9_-]{3,23}$/;
                    if (username === null || username === undefined) {
                        return false;
                    }

                    if (!USER_REGEX.test(username)) {
                        return false;
                    }

                    return username;
                };

                const passwordValidate = (password) => {
                    const PWD_REGEX = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%]).{8,24}$/;
                    if (password === null || password === undefined) {
                        return false;
                    }

                    if (!PWD_REGEX.test(password)) {
                        return false;
                    }

                    return password;
                };

                const fullnameValidate = (fullname) => {
                    const FULLNAME_REGEX =
                        /^[A-ZÁÀẢÃẠÂẤẦẨẪẬĂẮẰẲẴẶĐÉÈẺẼẸÊẾỀỂỄỆÚÙỦŨỤƯỨỪỬỮỰÍÌỈĨỊÓÒỎÕỌƠỚỜỞỠỢÔỐỒỔỖỘÝỲỶỸỴ][a-záàảãạâấầẩẫậăắằẳẵặđéèẻẽẹêếềểễệúùủũụưứừửữựíìỉĩịóòỏõọơớờởỡợôốồổỗộýỳỷỹỵ]*$/;
                    const names = fullname.trim().split(/\s+/);
                    for (let i = 0; i < names.length; i++) {
                        if (!FULLNAME_REGEX.test(names[i])) {
                            return false;
                        }
                    }
                    return fullname;
                };

                const emailValidate = (email) => {
                    const EMAIL_REGEX =
                        /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
                    if (email === null || email === undefined) {
                        return false;
                    }
                    if (!EMAIL_REGEX.test(email)) {
                        return false;
                    }
                    return email;
                };

                const inputUsername = $('#input-username');
                const notifyUsername = $('#notify-username');
                const inputPassword = $('#input-password');
                const notifyPassword = $('#notify-password');
                const inputRepeatPassword = $('#input-repeat-password');
                const notifyRepeatPassword = $('#notify-repeat-password');
                const inputEmail = $('#input-email');
                const notifyEmail = $('#notify-email');
                const inputFullname = $('#input-fullname');
                const notifyFullname = $('#notify-fullname');

                inputUsername.blur(async (e) => {
                    let txt = inputUsername.val();
                    if (!usernameValidate(txt)) {
                        notifyUsername.html('*Invalid username');
                        return;
                    }
                    const result = await fetch('/auth/signup/validate', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            username: event.target.value,
                        }),
                    });
                    const data = await result.json();
                    notifyUsername.html(data);
                });
                inputUsername.on('input', (e) => {
                    notifyUsername.html('');
                });

                inputPassword.on('input', (e) => {
                    notifyPassword.html('');
                });
                inputPassword.blur((e) => {
                    let txt = inputPassword.val();
                    if (!passwordValidate(txt)) {
                        notifyPassword.html('*Invalid password');
                    }
                });

                inputRepeatPassword.on('input', (e) => {
                    notifyRepeatPassword.html('');
                });
                inputRepeatPassword.blur((e) => {
                    let pw = inputPassword.val();
                    let repeatpw = inputRepeatPassword.val();
                    if (pw != repeatpw) {
                        notifyRepeatPassword.html('incorrect repeat password');
                    }
                });

                inputEmail.blur((e) => {
                    let txt = inputEmail.val();
                    if (!emailValidate(txt)) {
                        notifyEmail.html('*Invalid email');
                    }
                });
                inputEmail.on('input', (e) => {
                    notifyEmail.html('');
                });

                inputFullname.blur((e) => {
                    let txt = inputFullname.val();
                    if (!fullnameValidate(txt)) {
                        notifyFullname.html('*Invalid fullname');
                    }
                });
                inputFullname.on('input', (e) => {
                    notifyFullname.html('');
                });

                $('form').submit((e) => {
                    if (
                        notifyUsername.html() ||
                        notifyPassword.html() ||
                        notifyRepeatPassword.html() ||
                        notifyEmail.html() ||
                        notifyFullname.html()
                    ) {
                        e.preventDefault();
                    }
                });
            });
        </script>
    </body>
</html>
