<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <%- include('../partials/cdn') %>
        <title>Books</title>
        <style>
            .line-clamp {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <%- include('../partials/header') %>

        <main>
            <div class="py-2 bg-body-secondary">
                <form id="search-form" class="container d-flex flex-wrap align-items-center py-3">
                    <div class="col-12 col-sm-auto mb-2 mb-sm-0 me-sm-auto" role="search">
                        <input
                            type="search"
                            name="keyword"
                            class="form-control"
                            placeholder="Search..."
                            aria-label="Search"
                            value="<%= bookData.keyword %>"
                        />
                    </div>

                    <div class="d-flex align-items-center">
                        <select class="form-select" name="genre" id="genre">
                            <option value="all">All</option>
                            <% genreList.forEach(function(genre) { %>
                            <option <%= typeof bookData.genre !== 'undefined' && bookData.genre === genre.id ? 'selected' : '' %> value="<%= genre.id %>"><%= genre.name %></option>
                            <% }); %>
                        </select>
                    </div>
                </form>

                <div class="container">
                    <div
                        class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3"
                    >
                        <% bookData.bookList.forEach(function(book) { %>
                        <div class="col">
                            <a
                                href="/customer/detail/<%= book.id %>"
                                class="card border-0 p-2 shadow border-top border-5 border-secondary rounded text-decoration-none"
                                title="View detail"
                            >
                                <img
                                    src="<%= book.front_cover_image %>"
                                    class="card-img-top rounded"
                                    style="aspect-ratio: 9 / 10"
                                />

                                <div class="card-body p-1 pb-1">
                                    <div class="">
                                        <p
                                            class="card-title h5 text-body-emphasis opacity-75 text-uppercase text-center text-truncate"
                                            title="<%= book.title %>"
                                        >
                                            <%= book.title %>
                                        </p>
                                        <p
                                            class="card-title text-success text-uppercase text-center text-truncate"
                                            title="<%= book.author %>"
                                        >
                                            <b>Author:</b> <%= book.author %>
                                        </p>
                                    </div>
                                    <p class="card-text mb-2 line-clamp"><%- book.description %></p>
                                    <div class="d-flex justify-content-end align-items-center fs-6">
                                        <p class="mb-0">
                                            <b class="text-success">Price:</b> $<%= book.price %>
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                    </div>

                    <nav class="mt-4 d-flex justify-content-end">
                        <ul class="pagination">
                            <li class="page-item prev" style="color: black !important">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <i class="fa-solid fa-angle-left"></i>
                                </a>
                            </li>
                            <% for (let i = 1; i <= bookData.totalPage; i++) { %>
                                <li class="page-item <%= bookData.page == i ? 'active' : '' %>">
                                    <a page-value="<%= i %>" class="page-link" href="#"><%= i %></a>
                                </li>
                            <% } %>
                            <li class="page-item next">
                                <a class="page-link" href="#" aria-label="Next">
                                    <i class="fa-solid fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>

        <%- include('../partials/footer') %>

        <script>
            $(() => {
                // Search and filter
                $('#genre').change((e) => {
                    $('#search-form').submit();
                });

                // Pagination
                $('.page-item:not(.prev):not(.next):not(.active)').click(e => {
                    e.preventDefault();
                    e.stopPropagation();

                    const currentUrl = new URL(window.location.href);
                    currentUrl.searchParams.delete('page')
                    currentUrl.searchParams.set('page', $(e.target).attr('page-value'));

                    window.location.href = currentUrl.toString();
                })

                $('.page-item.active').click(e => {
                    e.preventDefault();
                    e.stopPropagation();
                })

                $('.page-item.prev').click(e => {
                    e.preventDefault();
                    e.stopPropagation();
                    const currentPage = Number.parseInt(`<%= bookData.page %>`);
                    if (currentPage !== 1) {
                        const currentUrl = new URL(window.location.href);
                        currentUrl.searchParams.delete('page')
                        currentUrl.searchParams.set('page', currentPage - 1);
                        window.location.href = currentUrl.toString();
                    }
                })

                $('.page-item.next').click(e => {
                    e.preventDefault();
                    e.stopPropagation();
                    const currentPage = Number.parseInt(`<%= bookData.page %>`);
                    const totalPage = Number.parseInt(`<%= bookData.totalPage %>`);
                    if (currentPage !== totalPage) {
                        const currentUrl = new URL(window.location.href);
                        currentUrl.searchParams.delete('page')
                        currentUrl.searchParams.set('page', currentPage + 1);
                        window.location.href = currentUrl.toString();
                    }
                })
            });
        </script>
    </body>
</html>
